---
import Layout from '../layouts/Layout.astro'
import App from '@/components/App'
---

<Layout title="Diagramador ER">
  <h1 class="text-4xl font-bold mb-4">Diagramador ER</h1>
  <p>Bienvenido al Diagramador ER. Aquí puedes crear y gestionar tus diagramas de entidad-relación.</p>

  <App client:load />
</Layout>
